<table class="styled-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Localitat</th>
      <th>Provincia</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nombre_Equipo 1</td>
      <td>Codigo_Equipo 1</td>
      <td>Localitat_Equipo 1</td>
      <td>Provincia_Equipo 1</td>
    </tr>
    <tr>
      <td>Nombre_Equipo 1</td>
      <td>Codigo_Equipo 1</td>
      <td>Localitat_Equipo 1</td>
      <td>Provincia_Equipo 1</td>
    </tr>
    <tr>
      <td>Nombre_Equipo 1</td>
      <td>Codigo_Equipo 1</td>
      <td>Localitat_Equipo 1</td>
      <td>Provincia_Equipo 1</td>
    </tr>
    <tr>
      <td>Nombre_Equipo 1</td>
      <td>Codigo_Equipo 1</td>
      <td>Localitat_Equipo 1</td>
      <td>Provincia_Equipo 1</td>
    </tr>
  </tbody>
</table>
