@import "/src/styles.scss";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700;900&display=swap");

$gris: #e0e0e0;

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  font-family: $fuentePrincipal;
  text-align: left;
}

.styled-table thead tr {
  background-color: $rosa;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  font-size: 15px;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: $gris;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: white;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid $rosa;
}
