<app-navbar></app-navbar>
<div class="section-1">
    <h1>Asociacion Española de eSports</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error amet, nam, optio sapiente nemo <br> voluptas alias est earum modi debitis quidem voluptatem dolorem ipsam iusto magni, dicta sed quod.</p>
    <button (click)="scrollDown()">Sigue descubriendo</button>
    
 </div>

<div class="section-2">
    <div class="carta">
        <div class="carta-left">
            <p>Federacion Española</p>
        </div>

        <div class="carta-rigth">
            <h1>¿Quien somos?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptate autem expedita tempora eaque voluptas in dolore possimus sequi iste eveniet error enim rerum, commodi nisi magni tenetur incidunt distinctio!</p>          
        </div>
    </div>
</div>

<div class="section-3">
    <h1>NUESTRAS COMPETITZIONE</h1>
    <section class="juegos">
        <div class="juego">
            <img src="https://www.adhesivosnatos.com/wp-content/uploads/2018/07/pegatina-fortnite-letras-logo.png" height="auto" width="200px">
        </div>
        <div class="juego">
            <img src="https://www.adhesivosnatos.com/wp-content/uploads/2018/07/pegatina-fortnite-letras-logo.png"height="auto" width="200px">
        </div>
        <div class="juego">
            <img src="https://www.adhesivosnatos.com/wp-content/uploads/2018/07/pegatina-fortnite-letras-logo.png"height="auto" width="200px">
        </div>
    </section>
    <section class="juegos2">
        <div class="juego">
            <img src="https://www.adhesivosnatos.com/wp-content/uploads/2018/07/pegatina-fortnite-letras-logo.png" height="auto" width="200px">
        </div>
        <div class="juego">
            <img src="https://www.adhesivosnatos.com/wp-content/uploads/2018/07/pegatina-fortnite-letras-logo.png"height="auto" width="200px">
        </div>
        <div class="juego">
            <img src="https://www.adhesivosnatos.com/wp-content/uploads/2018/07/pegatina-fortnite-letras-logo.png"height="auto" width="200px">
        </div>
    </section>
    <div class="section-3">
        <h1>CONOCE A NUESTROS PATROCINADORES</h1>
        <section class="patrocinadores">
            <div class="patrocinador">
                <img src="https://logos-marcas.com/wp-content/uploads/2020/04/Amazon-Logo.png" height="auto" width="200px">
            </div>
            <div class="patrocinador">
                <img src="https://logos-marcas.com/wp-content/uploads/2020/04/Amazon-Logo.png"height="auto" width="200px">
            </div>
            <div class="patrocinador">
                <img src="https://logos-marcas.com/wp-content/uploads/2020/04/Amazon-Logo.png"height="auto" width="200px">
            </div>
        </section>
        <section class="patrocinadores2">
            <div class="patrocinador">
                <img src="https://logos-marcas.com/wp-content/uploads/2020/04/Amazon-Logo.png" height="auto" width="200px">
            </div>
            <div class="patrocinador">
                <img src="https://logos-marcas.com/wp-content/uploads/2020/04/Amazon-Logo.png"height="auto" width="200px">
            </div>
            <div class="patrocinador">
                <img src="https://logos-marcas.com/wp-content/uploads/2020/04/Amazon-Logo.png"height="auto" width="200px">
            </div>
        </section>
    </div>
</div>
<section class="footer">
        <div class="column">
            <h3 class="columnTitle">Sobre la Asociacion</h3>
            <ul>
                <li>Sobre nosotros</li>
                <li>Trabajar con nosotros</li>
                <li>Contacto</li>

            </ul>
        </div>
        <div class="column">
            <h3 class="columnTitle">Legal y Privacidad</h3>
            <ul>
                <li>Politica de Privacidad</li>
                <li>Terminos de Uso</li>
                <li>Metodos de Pago</li>
                <li>Devoluciones</li>
                
            </ul>
        </div>
        <div class="column">
            <h3 class="columnTitle">Paginas</h3>
            <ul>
                <li>Inicio</li>
                <li>Juegos</li>
                <li>Clubs</li>
                <li>Contacto</li>
            </ul>
        </div>
</section>

