<section class="footer">
    <div class="column">
        <h3 class="columnTitle">Sobre la Asociacion</h3>
        <ul>
            <li><a>Sobre nosotros</a></li>
            <li><a>con nosotros</a></li>
            <li><a>Contacto</a></li>

        </ul>
    </div>
    <div class="column">
        <h3 class="columnTitle">Legal y Privacidad</h3>
        <ul>
            <li><a>Politica de Privacidad</a></li>
            <li><a>Terminos de Uso</a></li>
            <li><a>Metodos de Pago</a></li>
            <li><a>Devoluciones</a></li>
            
        </ul>
    </div>
    <div class="column">
        <h3 class="columnTitle">Paginas</h3>
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/games">Juegos</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </div>
</section>