<section class="footer">
    <div class="column">
        <h3 class="columnTitle">Sobre la Asociacion</h3>
        <ul>
            <li><a>Sobre nosotros</a></li>
            <li><a>con nosotros</a></li>
            <li><a>Contacto</a></li>

        </ul>
    </div>
    <div class="column">
        <h3 class="columnTitle">Legal y Privacidad</h3>
        <ul>
            <li><a>Politica de Privacidad</a></li>
            <li><a>Terminos de Uso</a></li>
            <li><a>Metodos de Pago</a></li>
            <li>Devoluciones</li>
            
        </ul>
    </div>
    <div class="column">
        <h3 class="columnTitle">Paginas</h3>
        <ul>
            <li>Inicio</li>
            <li>Juegos</li>
            <li>Clubs</li>
            <li>Contacto</li>
        </ul>
    </div>
</section>