<section class="footer">
    <div class="column">
        <h3 class="columnTitle">Sobre la Asociacion</h3>
        <ul>
            <li>Sobre nosotros</li>
            <li>Trabajar con nosotros</li>
            <li>Contacto</li>

        </ul>
    </div>
    <div class="column">
        <h3 class="columnTitle">Legal y Privacidad</h3>
        <ul>
            <li>Politica de Privacidad</li>
            <li>Terminos de Uso</li>
            <li>Metodos de Pago</li>
            <li>Devoluciones</li>
            
        </ul>
    </div>
    <div class="column">
        <h3 class="columnTitle">Paginas</h3>
        <ul>
            <li>Inicio</li>
            <li>Juegos</li>
            <li>Clubs</li>
            <li>Contacto</li>
        </ul>
    </div>
</section>