.footer{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #080b1f;
    color: white;
    margin-top: -21px;
    display: flex;
    justify-content: space-evenly;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
.column{
    text-align: center;
    width: 33%;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    &:hover{
        text-decoration: underline #ee5089;;
    }
}