<form class="marco" action="">
  <div class="campo">
    <label for="nombre">
      <i class="fas fa-search"></i>
    </label>
    <input
      class="campo-texto"
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
    />
  </div>
  <div class="campo">
    <label for="delegacion">
      <i class="fas fa-home"></i>
    </label>
    <select class="campo-texto" name="delegacion" id="delegacion">
      <option disabled selected>Delegacion</option>
      <option>Opcion 1</option>
      <option>Opcion 2</option>
      <option>Opcion 3</option>
    </select>
  </div>
  <div class="campo">
    <label for="provincia">
      <i class="fas fa-map"></i>
    </label>
    <select class="campo-texto" id="provincia" name="provincia">
      <option disabled selected>Provincia</option>
      <option>Opcion 1</option>
      <option>Opcion 2</option>
      <option>Opcion 3</option>
    </select>
  </div>
  <div class="campo">
    <label for="poblacion">
      <i class="fas fa-map-marker-alt"></i>
    </label>
    <select class="campo-texto" id="poblacion" name="poblacion">
      <option disabled selected>Poblacion</option>
      <option>Opcion 1</option>
      <option>Opcion 2</option>
      <option>Opcion 3</option>
    </select>
  </div>
  <button class="boton">
    <i class="fas fa-times"></i>
  </button>
</form>
