@import "/src/styles.scss";

$blanco: #e0e1e4;

.marco {
  border: solid 2px;
  border-color: $blanco;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  margin: 0;
  gap: 10px;
  border-radius: 5px;
}

.fas {
  color: $blanco;
}

.campo {
  display: flex;
  gap: 10px;
  width: 300px;
}

.campo-texto {
  width: 100%;
  color: $blanco;
  font-family: $fuentePrincipal;
  border: none;
  border-bottom: 2px solid $rosa;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &::placeholder {
    opacity: 0.9;
    color: $blanco;
  }
}

.boton {
  background-color: $backgroundColorPrincipal;
  border: none;
}
