@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

*{
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

.games{
    background-color: #8a8c9c;
    display: flex;
    margin: 0 !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
.game{
    
    border-radius: 6px;
    height:300px;
    width:300px;
    text-align: center;
}
.btnGame{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    text-shadow: none;
    color: white;
    background-color:rgb(22, 28, 54)
    

}