<app-navbar></app-navbar>
<section class="games">
    <div class="container">
        <div class="game">
        
        </div>
        <div class="game">
        
        </div>
        <div class="game">
        
        </div>
        <div class="game">
        
        </div>
        <div class="game">
        
        </div>
    </div>
</section>
