

.game{
    
    height: 350px;
    width: 250px;
    background-color: lightgray;
    border-radius: 30px;
    &:hover{
        transform:scale(1.2);
        transition-duration: 400ms;    
        
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    background-color: lightgreen;
    padding-left: 20vw;
    padding-right: 20vw;
    justify-content: space-bet;
}