@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap%27");
.section-1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #0f1538;
  text-align: center;
}
.section-1 h1 {
  color: white;
  margin: 0;
  padding-top: 300px;
}
.section-1 p {
  color: white;
}
button {
  width: 200px;
  height: 75px;
  border: none;
  color: white;
  background-color: #080b1f;
  border-radius: 8px;
  box-shadow: inset 0 0 0 0 #ee5089;
  transition: ease-out 0.7s;
  font-size: 1em;
  outline: none;
}
button:hover {
  box-shadow: inset 200px 0 0 0 #ee5089;
  cursor: pointer;
}
.section-2 {
  background-color: #0f1538;
  font-family: "M PLUS Rounded 1c", sans-serif;
  height: 500px;
  margin-top: 400px;
}
.carta {
  display: flex;
  justify-content: center;
}
.carta-left {
  height: 250px;
  width: 100px;
  background-color: #080b1f;
  border-radius: 12px 0 0 12px;
  transition: 0.3s;
}
.carta-left p {
  writing-mode: vertical-rl;
  color: white;
  display: inline;
  transform: rotate(180deg);
  margin-left: 38px;
  margin-top: 55px;
}
.carta-rigth {
  height: 250px;
  width: 700px;
  background-color: #ee5089;
  border-radius: 0 12px 12px 0;
  transition: 0.3s;
}
.carta-rigth h1 {
  margin-left: 20px;
}
.carta-rigth p {
  margin-left: 20px;
}
.carta-left:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 0 rgba(189, 188, 188, 0.2);
}
.carta-rigth:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(189, 188, 188, 0.2);
}
.section-3 {
  background-color: #0f1538;
  height: auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-top: 90px;
}
.section-3 h1 {
  text-align: center;
  margin-top: -21px;
  color: white;
  text-decoration-line: overline;
  text-decoration-style: line;
  text-decoration-color: #ee5089;
}

.juegos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.juego {
  transition: transform 0.8s;
  cursor: pointer;
}
.carta-rigth h1{
    margin-left: 20px;
    margin-top: -1px;
}
.carta-rigth p{
    margin-left: 20px;
    margin-top: -10px;
}
.juego:hover {
  transform: scale(1.2);
}
.patrocinador {
  transition: transform 0.8s;
  cursor: pointer;
}
.patrocinador:hover {
  transform: scale(1.2);
}
.juegos2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.patrocinadores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.patrocinadores2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 90px;
}
.patrocinador {
  margin-top: 90px;
}

h1 {
  font-family: "Play", sans-serif !important;
  font-weight: bold;
  font-size: 70px;
}