@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

.contact-us{
    height: 683px;
    width: 790px;
    background-color: white;
    margin-right: auto; margin-left: auto;
    margin-top: 5.5%;
    border-radius: 2%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    box-shadow:  0 0 10px gray;
    
    
}
.contact-us h1{
    text-align: center;
    color: black;
    padding-top: 50px;
    
}
.col{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}
input{
    width: 45%;
    border: none;
    border-bottom: 5px solid #ee5089;
    padding-top: 5px;
    font-size: 18px;

}
.col{
   margin-left: 50px;
   margin-right: 50px;
}
input:focus{
    outline: none;
}
.col1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
textarea{
    border: none;
    border-bottom: 5px solid #ee5089;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}
textarea:focus{
    outline: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
button{
    width: 200px;
    height: 75px;
    border: none;
    color: white;
    background-color: #080b1f;
    border-radius: 50px;
    transition:  1s;
    font-size: 1em;
    outline: none;
    margin-top: 42px;
    
    }
button:hover{
    background-color: #3db401;
    cursor: pointer;
    color: black;
    
    
}
