<app-navbar></app-navbar>
<div class="contact-us">
    <h1>Contact Us</h1>
    <form>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Email">
              <input type="text" class="form-control" placeholder="Numero">
            </div>
        </div>
        <div class="form-row">
            <div class="col1">
            <textarea id="w3review" spellcheck="false" name="w3review" rows="10" cols="95">Enter text here...</textarea>
        </div>
        </div>
    </form>
    <div class="form-row">
        <div class="col1">
    <button>Enviar</button>
</div>
</div>
</div>
