@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

*{
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

.games{
    background-color: #8a8c9c;
    display: flex;
    margin: 0 !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
.game{
    
    border-radius: 6px;
    height:300px;
    width:300px;
    text-align: center;
}
.btnGame{
    
    width: 200px;
    height: 75px;
    border: none;
    color: white;
    background-color: #080b1f;
    border-radius: 8px;
    box-shadow: inset 0 0 0 0 #ee5089;
    transition: ease-out 0.7s;
    font-size: 1em;
    outline: none;
    

}