<app-navbar></app-navbar>

<section class="games">
    <h1>NUESTRAS COMPETITZIONE</h1>
    <div class="game" *ngFor="let game of games">
        
        <h2>{{game.title}}</h2>
        <img src="{{game.image}}" height="168px" width="300px">
        <button type="button" class="btnGame"><strong>PLAY</strong></button>
    </div>

</section>
