<STYLE>A {text-decoration: none;} </STYLE>

<div class="menu">

    <div class="logo">
        <img src="https://img.icons8.com/color/480/google-logo.png" height="auto" width="32px">
    </div>


        <ul class="navegador">
<<<<<<< HEAD
            <li><a href="#">Inicio</a></li>
            <li><a href="/games">Juegos</a></li>
            <li><a href="#">Clubs</a></li>
            <li><a href="#">Contacto</a></li>
=======
            <li><a href="/home">Inicio</a></li>
            <li><a href="/games">Juegos</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/statistics">Contacto</a></li>
>>>>>>> Pau
        </ul>


    <div class="signIn">
        Login
           
    </div>
    

</div>
