@import "/src/styles.scss";

.main {
}

.buscadorApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1800px;
  height: 500px;
  margin: auto;
}

.buscador,
.listado {
  width: 100%;
}

.titulo {
  color: whitesmoke;
  font-family: $fuentePrincipal;
}
