<app-navbar></app-navbar>
<div class="main">
  <h1 class="titulo">Buscador de Clubs</h1>
  <div class="buscadorApp">
    <app-buscador class="buscador"></app-buscador>
    <app-listado class="listado"></app-listado>
  </div>
</div>
