@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #080b1f;
    color: white;
}
.navegador ul{
    list-style: none;

    
 }
 .navegador{
    list-style: none;
    display: flex;
    li{
        padding-left: 35px;
        padding-right: 35px;
    }

 }
 

 .navegador li:hover {
    
    border-bottom: 3px solid #ee5089;
    opacity: 0.8;
    transition: 0.1s;
}
.btn:hover {opacity: 1}

.menu{
    height: 60px;
    padding-right:200px;
    padding-left: 200px;
    display:flex;
    justify-content: space-between;
    .logo{
        
        padding-top:14px
    }
    .signIn{
        padding-top: 16px;
        
    }
    .signIn:hover{
        color:#ee5089;
        cursor: pointer;
    }
}



